*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html ,body{
    height: 100%;
    width: 100%;
} 

.container{
    height: 100vh;
    width: 100vw;
    background-color: cornflowerblue;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;

}

.box{
    height: 40vh;
    width: 30vw;
    background-color: azure;
    border-radius: 2%;
    overflow: hidden;
    position: relative;
}
#box1{
    background-image: url(./images/hacker\ \(2\).jpg);
    background-size: cover;
}
#box2{
    background-image: url(./images/iron\ man.jpg);
    background-size: cover;
}
#box3{
    background-image: url(./images/marvel.jpg);
    background-size: cover;
}
#box4{
    background-image: url(./images/moon\ knight.jpg);
    background-size: cover;
}
#box5{
    background-image: url(./images/peter\ parker.jpg);
    background-size: cover;
}

#box6{
    background-image: url(./images/thor.jpg);
    background-size: cover;
}

.box i{
    color: white;
    font-size: 4rem;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50% , -50%) scale(0);
    opacity: 0.8;
}
